extends baseEmail

block content
    p Hi #{firstName},
        p Forgot your password? Click on the link below to reset it. If you did not reset this, please ignore this email!
        p (Website for this action not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your password
        p if you did not reset this, please ignore this email!